body {
    font-family: Arial, sans-serif;
    /*background-color: #f0f0f0;*/
    color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    /*background-color: #fff;*/
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.questions {
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#answer-button {
    color: white;
    font-size: 20px;
    border: solid;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 10px;
    text-decoration: none;
}

.answer-button:hover {
    background-color: #0056b3;
}

*{
    background-color: rgb(42, 38, 38);
    color: white;
}