#h1{
    text-align: center;
    color: white;
    font-size: 75px;
    text-decoration-line: underline;
    margin-top: 0;
}

#h1:hover{
    color: aqua;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.questions {
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#answer-button-yes {
    color: white;
    font-size: 20px;
    border: solid;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 10px;
    text-decoration: none;
}

#answer-button-no {
    color: white;
    font-size: 20px;
    border: solid;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 10px;
    text-decoration: none;
}

#answer-button-play {
    color: white;
    font-size: 20px;
    border: solid;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 10px;
    text-decoration: none;
}

#answer-button-yes:hover {
    color: greenyellow;
}

#answer-button-no:hover {
    color: red;
}

#answer-button-play:hover {
    color: greenyellow;
}

*{
    background-color: rgb(42, 38, 38);
    color: white;
}

img{
    border: solid 2px white;
}